html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Fin du reset */

@font-face {
  font-family: "work_sans";
  src: url("fonts/Work_Sans/WorkSans-VariableFont_wght.woff") format("truetype");
}

/* Header */

header {
  display: flex;
  align-items: center;
  font-family: work_sans;
  padding: 0.3125rem 0.4375rem;
}

.header_logo {
  margin-right: auto;
}

.header_logo img {
  width: 6.25rem;
}

.logo_interaction {
  height: 26px;
}

.header_utilisateur {
  display: none;
}

body {
  font-family: work_sans;
}

/* Nav */

nav {
  display: flex;
  justify-content: center;
  margin: 0.625rem 1.25rem;
}

.onglet_style {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  padding-block: 0.9375rem;
  border-bottom: 2px solid #aeb5b6;
}

.onglet_style a {
  text-decoration: none;
  color: #aeb5b6;
}

.onglet_toggled {
  border-bottom: 2px solid #357377;
}

.onglet_toggled a {
  color: #357377;
}

h2 {
  display: none;
}

/* Search barre */

.search_classic {
  display: flex;
  justify-content: center;
  margin-block: 0.625rem;
}

.search {
  margin: 0.625rem;
  padding: 0.625rem 0.4375rem;
  border-radius: 45px;
  border: 1px solid #428a60;
  color: #aeb5b6;
  font-style: italic;
  width: 60%;
}

.search_praticien {
  display: none;
}

.search_recette {
  display: none;
}

button {
  border: none;
  background-color: #ffffff;
  margin-block: 10px;
  border-radius: 5px;
}

button img {
  height: 22px;
}

button:hover {
  background-color: #aeb5b6;
  /* #c8d5d6 */
}

/* Onglet content : Card diet */

.onglet_content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.cards_diet4 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.onglet_conseil_allCards {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

p {
  font-size: 12px;
}

/* Onglet conseil */

.card_diet {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-left: 10px; */
  /* margin-inline: 40px; */
}

.photo_diet {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.card_diet_text {
  width: 13.125rem;
}

.card_article_footer,
.card_diet_text p {
  color: #357377;
  font-style: italic;
}

section a {
  margin-block: 1.25rem;
}

/* Onglet inspiration */

article {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-inline: 6.25rem;
  padding-bottom: 15px;
  border-bottom: 2px solid #aeb5b6;
  max-width: 21.875rem;
}

article .card_diet {
  width: 100%;
}

.photo_recette {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card_article_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h3 {
  font-weight: 500;
}

.card_article_footer {
  display: flex;
  gap: 15px;
}

.onglet_inspiration {
  display: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  margin-top: 1.25rem;
  padding-block: 1.875rem;
  background-color: #c8d5d6;
}

.footer_network {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer_network p {
  display: flex;
  justify-content: center;
}

.footer_network_list {
  display: flex;
  gap: 0.625rem;
}

.footer_about_list {
  display: flex;
  gap: 0.9375rem;
}

.footer_about_list li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

footer p {
  margin-block: 1.25rem;
}

@media (min-width: 800px) {
  .header_logo img {
    width: 9.375rem;
  }

  .logo_profil {
    display: none;
  }

  header div {
    display: flex;
    gap: 10px;
  }

  header div img {
    margin-block: auto;
  }

  .header_utilisateur {
    display: flex;
    align-items: center;
    margin-left: 0.625rem;
  }

  .photo_utilisateur {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: 50%;
  }

  nav {
    display: none;
  }

  h2 {
    display: flex;
    margin: 20px 30px;
    padding: 10px 0px;
    color: #357377;
    border-bottom: 2px solid #357377;
  }

  .onglet_conseil_allCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .onglet_inspiration {
    display: flex;
  }

  .search_recette {
    display: flex;
    justify-content: center;
  }
}
